<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <a href="/car/create">Create Car Listing</a><br>
  <a href="/car/list">View Car Listings</a>
</body>
</html>
