<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Inbox</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h2>Inbox</h2>
    <% if (messages.length === 0) { %>
      <p>No messages to show.</p>
    <% } else { %>
      <ul class="list-group">
        <% messages.forEach(message => { %>
          <li class="list-group-item">
            <strong>From:</strong> <%= message.senderId %>
            <br>
            <strong>To:</strong> <%= message.receiverId %>
            <br>
            <strong>Message:</strong> <%= message.content %>
            <br>
            <small><%= message.timestamp.toLocaleString() %></small>
          </li>
        <% }); %>
      </ul>
    <% } %>
    <a href="/messaging/compose" class="btn btn-secondary mt-3">Compose New Message</a>
  </div>
</body>
</html>
