<!DOCTYPE html>
<html>
<head>
  <title>Password Recovery</title>
</head>
<body>
  <h1>Password Recovery</h1>
  <form action="/password/recover" method="POST">
    <label>Your Answer: <input type="text" name="response" required /></label><br>
    <button type="submit">Submit Answer</button>
  </form>
</body>
</html>
